{% extends 'layoutp.html'   %}
{% block body %}
<h1>
	<i><h2>The Nine Welfare Schemes of Government in AP:
1.Amma Vodi
2.YSR Asara
3.Ban on Alcohol
4.Jalayagnam
5.Arogyasri
6.YSR Rythu Bharosa
7.Pedhalandariki Illu
8.Pensionla Pempu</h2></i>
<h1 class="text-muted"><i>1.The Revenue Department:</i></h1><h4> manages functions related to the matters of Government lands, excise, commercial tax, registrations, survey and settlements, endowments, and so on. The main functions of the Revenue Department are:
Propose and implement Acts and Rules related to matters of land revenue, excise, commercial tax, settlement and land records, registration and stamps, registration of births, deaths and marriages, endowments, and so on
Deal with all the cases of the Anti-Corruption Bureau (ACB), Vigilance and Enforcement and A.P. Vigilance Commission that relate to the Revenue Department
Handle disciplinary cases against the officers and employees of all grades of the Revenue Department
Deal with all the cases related to the Commissioner of Inquiries appointed for matters relating to the Revenue Department
Manage service matters related to the Heads of Departments under the control of the Revenue Department</h4>
<h1 class="text-info"><i>2.Police Department:</i></h1><h4>The officers and men of AP Police Department are committed to providing professional law enforcement services, protecting the rights of individuals, preventing.</h4>
<h1 class="text-info"><i>3.The agricultural department:</i></h1><h4>The Department of Agriculture has been created mainly to provide Agricultural Extension services to farmers and to transfer the latest technical knowledge to the farming community, introduction of high yielding varieties, laying demonstrations, imparting training to farmers to improve skills & knowledge to boost up the agricultural Production and productivity.
The other objectives of the Department are to assess requirements of agriculture inputs well in advance and to regulate their production and monitor timely supply of seeds, fertilizers and pesticides, implements, credit etc., to farmers.
The Department also performs the statutory functions under various acts and regulations (i.e., quality control) to ensure supply of quality inputs i.e., Seeds, Fertilizers and Pesticides to farmers and implementation of Dangerous Machines Regulation Act.</h4>
<h1 class="text-info"><i>3.The Education department:</i></h1><h4>




</h4>
{% endblock %}