{% extends 'layoutp.html' %}
{% block body %}

<body style="background-color:info;">
	<div class="col-sm-9" style="padding: 20px">
		<div class="col-sm-12"  style="padding: 20px;background-color: success">
				<form style="padding-left: 80px">
					<input class="form-control" type="Email" name="" placeholder="Your Email"><br>
					<input class="form-control" type="Email" name="" placeholder="Your Adharno">
					<br><br>
					<p><input class="form-control" type="text" name="" placeholder="Your Contact"></p>
					<textarea class="form-control" rows="5" placeholder="Complaint"></textarea><br>
					<textarea class="form-control" rows="4" placeholder="Address"></textarea><br><br>
					<textarea class="form-control" rows="5" placeholder="Your message"></textarea><br><br><br><br>
					<center><button type="submit" class="btn btn-danger">Submit</button></center>
				</form>

		</div>
	</div>
</div>
</body>
{% endblock %}
