{% extends 'layoutp.html' %}
{% block body %}
<marquee><i><h1 style="color:blue">RAISE YOUR VOICE ALL PEOPLES<br>ON YOUR PROBLEMS</h1></marquee></i>

<div class="row">
	<div class="col-sm-3 text-white" style="background-color: fuchsia;padding: 20px">
     APCM:Y.S.JAGANMOHAN REDDY
Address:1st Block, 1st Floor,
Interim Government Complex,
A.P Secretariat Office, Velagapudi.
Phone:0863-2446608
help no:1401
Email:osd-cmap@ap.gov.in
Email:apcmgov@gmail.com

Name:Dr. P.V. Ramesh, IAS(Retd.)
Designation: Additional Chief Secretary to C.M.
Address:1st Block, 1st Floor,
Interim Government Complex,
A.P Secretariat Office, Velagapudi.
Phone:0863-2446641
Email:splcs-cmo@ap.gov.in</div>

<div class="col-sm-9" style="padding: 20px">
		<div class="col-sm-12" style="padding: 20px;background-color: blue">
				<form style="padding-left: 80px">
					<input type="text" name="" placeholder="Your name">
					<input type="Email" name="" placeholder="Your Email">
					<input type="text" name="" placeholder="Your Contact">
					<br><br>
					<textarea class="form-control" rows="5" placeholder="Your Address"></textarea><br><br>
					<textarea class="form-control" rows="5" placeholder="Your message"></textarea><br><br><br><br>
					<center><button type="submit" class="btn btn-danger">Submit</button></center>
				</form>

		</div>
	</div>
</div>



{% endblock %}
