{% extends 'layoutp.html' %}
{% block body %}
<center>
  <h2>All People problems solve directly</h2></center>
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/logos/education.jpg" alt="Los Angeles" style="width: 100%">
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>We had such a great time in LA!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="static/logos/education1.jpg" alt="Ap" style="width: 100%"">
      <div class="carousel-caption">
        <p>Thank you, Chicago!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="static/logos/ysr.jpg" alt="Ap" style="width: 100%">
      <div class="carousel-caption">
        <p>Thank you, CM Sir!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="static/logos/(th2).jpg" alt="Andhrapradesh" style="width: 100%">
      <div class="carousel-caption">
        <p>Thank you, CM Sir!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="static/logos/apformer.jpg" alt="Ap Government" style="width: 100%">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>   
    </div>



    <div class="carousel-item">
      <img src="static/logos/ag5.jpeg" alt="Ap" style="width: 100%">
      <div class="carousel-caption">
        <p>Thank you, CM Sir!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="static/logos/ag2.jpeg" alt="Ap" style="width: 100%">
      <div class="carousel-caption">
        <p>Thank you, CM Sir!</p>
      </div>   
    </div>


    
    <div class="carousel-item">
      <img src="static/logos/ag.jpeg" alt="Ap" style="width: 100%">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/logos/poluice.jpg" alt="Los Angeles" width="1450" height="645">
    </div>
    
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<button><a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl"></a>hi</button>




{% endblock %}