{% extends 'layoutp.html' %}
{% block body %}
<div class="container-fluid"><br><br>
	<center><h2>SignForm</h2></center><br>
  <h2><marquee><b>User SIGN form</b></marquee></h2>
  <form action="{{ url_for('loginpage') }}" method="POST">
      <div class="table col-sm-8" style="border: 1px solid black" sty>	

      <label for="email2" class="mb-2 mr-sm-2">Email:</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="email2" placeholder="Enter email" name="email">
        <label for="pwd2" class="mb-2 mr-sm-2">Password:</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="pwd2" placeholder="Enter password" name="pswd">
        <div class="form-check mb-2 mr-sm-2">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="remember"> Remember me
          </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
{% endblock %}